#main_page_header {
  font-family: Open-Sans, sans-serif; 
  font-size: 60px;
  text-align: center;
  padding: 20px;
  color: #f44336;
}

#microsoft_logo {
  height: 155px;
}

#microsoft_container {
  text-align: center;
  padding-top: 30px;
}

#index_body {
  background-image: radial-gradient(#0057ff, #0095ff)
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #4caf50;
  border-radius: 10px;
}

li {
  float: left;
  font-size: 20px;
  font-family: Open-Sans, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}

li a:hover {
  background-color: #5090d9;
}

p {
  font-size: 25px;
  color: #ffc106;
  font-family: Open-Sans, sans-serif;
  text-align: center;
  padding-top: 40px;
}

hr {
  width: 75%;
}

#skype_img {
  height: 400px
}

#skype_contain {
  text-align: center;
}

#skype_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #59a7ff;
  border-radius: 10px;
}

#mojang_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #da1e29;
  border-radius: 10px;
}

#mojang_contain {
  text-align: center;
}

#mojang_img {
  height: 190px;
  padding-top: 30px;
}

#github_img {
  height: 300px;
  padding-top: 30px;
}

#github_contain {
  text-align: center;
}

#github_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #1b1f23;
  border-radius: 10px;
}
