#main_page_header {
  font-family: Open-Sans, sans-serif; 
  font-size: 60px;
  text-align: center;
  padding: 10px;
  color: #f44336;
  padding-top: 0px;
}

#microsoft_logo {
  height: 100px;
}

#microsoft_container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#index_body {
  background-color: #ffffff;
}

#micro_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #4caf50;
  border-radius: 10px;
}

li {
  float: left;
  font-size: 20px;
  font-family: Open-Sans, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}

.index_p {
  font-size: 25px;
  color: #ffc106;
  font-family: Open-Sans, sans-serif;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 40px;
}

hr {
  width: 75%;
}

#skype_img {
  height: 400px
}

#skype_contain {
  text-align: center;
}

#skype_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #59a7ff;
  border-radius: 10px;
}

#mojang_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #da1e29;
  border-radius: 10px;
}

#mojang_contain {
  text-align: center;
}

#mojang_img {
  height: 140px;
  padding-top: 30px;
}

#github_img {
  height: 300px;
  padding-top: 30px;
  padding-bottom: 45px;
}

#github_contain {
  text-align: center;
}

#github_navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #1b1f23;
  border-radius: 10px;
}

.micro_li:hover {
  background-color: #388f4d;
}

.mojang_li:hover {
  background-color: #bf131d;
}

.skype_li:hover {
  background-color: #5292e0
}

.github_li:hover {
  background-color: #0f1114;
}

.github_p {
  font-size: 25px;
  color: #182e3b;
  font-family: Open-Sans, sans-serif;
  text-align: left;
  padding-top: 40px;
}
